/* ---------------------------------------------------------------------------
//
// CLASSES THAT COME FROM BOOTSTRAP
//
--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------
//
// ORIGINAL CLASSES
//
--------------------------------------------------------------------------- */

.centerZone
{
  padding: 16px 0px 0px 0px;
  width: 100%;
  min-height: 240;
  min-width: 432;

  /* needed for the overflow to trigger */
  height: 1px;

  flex-grow: 1;
  overflow: visible;
}

.m-wrapperHome
{
  height: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  display: flex;
}

.m-wrapperHello
{
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* ---------------------------------------------------------------------------
//
// ORIGINAL CLASSES - profile - edit user
//
--------------------------------------------------------------------------- */

.m-profile__info
{
  grid-template-columns: 200px 1fr;
  column-gap: 16px;
  grid-auto-rows: minmax(80px, 80px);
  padding: 0px 16px;
  align-items: center;
  display: grid;
}

.m-profile__info>.a-btn
{
  grid-row-start: 2;
  grid-row-end: 3;
  /* place-self: center; */
}

.a-profile__img
{
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  place-self: center;
}

.m-profile__info .a-btn.-orange
{
  font-size: 16px;
  grid-column: 1;
  grid-row: 3;
  place-self: center;
  /* display: none; */
}

.a-profile__input
{
  height: fit-content;
  width: fit-content;
  font-size: var(--fs-h6);
  font-family: "mars";
  grid-column: 2;
}

.a-profile__editInput
{
  width: 53%;
  height: 80px;

}