/* ---------------------------------------------------------------------------
//
// CLASSES THAT COME FROM BOOTSTRAP
//
--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------
//
// GLOBAL CLASSES
//
--------------------------------------------------------------------------- */

/* Methods used: */
/* - 8 point grid system */
/* - typescale 1.333 */
/* - CSS organization ABEM */

:root
{
  --white: #e5e5e5;
  --black: #121212;
  --primary: #c96f26;
  --yellow: rgb(194, 183, 0);
  --fs-small: 12px;
  --fs-p: 16px;
  --fs-h6: 21px;
  --fs-h5: 28px;
  --fs-h4: 38px;
}

*
{
  background-color: transparent;
  color: var(--white);
}

body
{
  background-color: var(--black);
}

svg
{
  fill: var(--white);
  background-color: transparent;
  height: 24px;
  width: 24px;
}

h1
{
  font-family: "CryptOfTomorrow";
  font-size: 90px;
}

p, li
{
  font-family: "Comic Neue";
  font-size: var(--paragraph);
}

.hide
{
  display: none !important;
}

/* ---------------------------------------------------------------------------
//
// CLASSES THAT COME FROM BOOTSTRAP
//
--------------------------------------------------------------------------- */


.dropdown-menu
{
  --bs-dropdown-bg: var(--black);
  --bs-dropdown-color: var(--white);
  --bs-dropdown-border-color: var(--white);
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-border-radius: 0%;
  position: fixed;
}

.dropdown-item
{
  --bs-dropdown-link-color: var(--white);
}

/* ---------------------------------------------------------------------------
//
// ORIGINAL CLASSES
//
--------------------------------------------------------------------------- */

/* to wrap around all of the dropdown-menu content */
.dropdown-menu>li
{
  width: max-content;
  width: 100%;
}

.leaderboard__li
{
  font-size: var(--fs-h5);
  font-family: "CryptOfTomorrow";
}

.btn-set4
{
  border: 1px solid #c99e26;
  /* background-color: rgba(201, 55, 38, 1); */
  /* background-color: #551711; */
  /* background-color: #C99E26; */
  color: #e5e5e5;
  /* border-radius: 25%; */
  padding: 2px;

  &:hover,
  &:hover:active
  {
    background-color: #AC2F21;
  }
}

.btn-set3
{
  border: 1px solid #c93726;
  background-color: #C93726;
  color: #e5e5e5;
  border-radius: 25%;
  padding: 2px;

  &:hover,
  &:hover:active
  {
    background-color: #AC2F21;
  }
}

.btn-set2
{
  border: 1px solid rgba(86, 47, 16, 0.5);
  background-color: rgba(86, 47, 16, 0.5);
  color: #e5e5e5;
  border-radius: 20%;
  padding: 2px;

  &:hover,
  &:hover:active
  {
    background-color: #3C210B;
  }
}

.btn-set1
{
  border: 1px solid #e5e5e5;
  background-color: #562F10;
  color: #e5e5e5;
  border-radius: 20%;
  padding: 2px;

  &:hover,
  &:hover:active
  {
    background-color: #3C210B;
  }
}
