<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

{% if user.is_authenticated %}
    <div id="currentUser" style="display: none;">{{ user.username }}</div>  

    <script>
        // Connexion WebSocket avec le serveur
        var socket = new WebSocket('wss://localhost/ws/system/');
        var currentUser = document.getElementById('currentUser').textContent;

        socket.onopen = function(event)
        {
            console.log('Connexion au system établie');

            send_get_friends_infos(currentUser);
            console.log('Demande d\'infos sur les amis envoyée');
        };

        socket.onclose = function(event)
        {
            console.log('Connexion au system fermée');
        };
    </script>
{% endif %}


<body>
    <h1>Bienvenue sur le projet Transcendance</h1>
    <p>En cours de developpement</p>
    <p>
        {% if user.is_authenticated %}
            Bonjour {{ user.username }}
            <br></br>
            <img src="https://localhost/media/{{ user.avatar }}" alt="Profile picture" width="100" height="100">
        {% else %}
            Bonjour inconnu
        {% endif %}
    </p>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary">Se deconnecter ❌</a>
        <br></br>
        <a href="{% url 'chat-room' %}" class="btn btn-primary">Viens tchatter ici 💬</a>
        <br></br>
        <a href="{% url 'update-account' %}" class="btn btn-primary">Modifier mon compte ♻️</a>
        <br></br>
        <div class="friends_requests"> </div>
        <div class="friends"> </div>

                
    {% else %}
        <a href="{% url 'signin' %}" class="btn btn-primary">S'inscrire 🔥</a>
        <br></br>
        <a href="{% url 'login' %}" class="btn btn-primary">Se connecter ✅</a>
        <br></br>
        <a href="{% url 'redirect-to-provider' %}" class="btn btn-primary">Se connecter avec 4️⃣2️⃣</a>
    {% endif %}
</body>

<script>

    //--------------------------------------------------------------------------------
    //                              GLOBAL VARIABLES
    //--------------------------------------------------------------------------------
    var friends = [];
    var friends_requests = [];
    var currentUser = document.getElementById('currentUser').textContent;

    //--------------------------------------------------------------------------------
    //                                  FUNCTIONS
    //--------------------------------------------------------------------------------

    // Demande d'informations sur les amis
    function send_get_friends_infos(currentUser)
    {
        var message = {
            'command': 'get_friends_infos',
            'user_to_add': currentUser
        }

        var messageJson = JSON.stringify(message);
        socket.send(messageJson);
    }

    // Affichage des demandes d'amis
    function display_friends_requests()
    {
        if (friends_requests.length > 0)
        {
            var friendsRequestsDiv = document.getElementsByClassName('friends_requests')[0];

            var friendsRequestTitle = document.createElement('h2');
            friendsRequestTitle.textContent = 'Demandes d\'amis';
            friendsRequestsDiv.appendChild(friendsRequestTitle);

            for (var i = 0; i < friends_requests.length; i++)
            {
                var friendRequestDiv = document.createElement('div');
                friendRequestDiv.id = 'friend_request-' + i;
                friendRequestDiv.style.display = 'flex';
                friendsRequestsDiv.appendChild(friendRequestDiv);

                var friendRequestP = document.createElement('p');
                friendRequestP.textContent = friends_requests[i];
                friendRequestDiv.appendChild(friendRequestP);

                var friendRequestAcceptButton = document.createElement('button');
                friendRequestAcceptButton.textContent = 'Accepter';
                friendRequestAcceptButton.id = 'accept_friend_request_button-' + i;
                friendRequestDiv.appendChild(friendRequestAcceptButton);

                var friendRequestDeclineButton = document.createElement('button');
                friendRequestDeclineButton.textContent = 'Refuser';
                friendRequestDeclineButton.id = 'decline_friend_request_button-' + i;
                friendRequestDiv.appendChild(friendRequestDeclineButton);

                var friendRequestBlockedButton = document.createElement('button');
                friendRequestBlockedButton.textContent = 'Bloquer';
                friendRequestBlockedButton.id = 'block_friend_request_button-' + i;
                friendRequestDiv.appendChild(friendRequestBlockedButton);

                friendRequestAcceptButton.addEventListener('click', function(event)
                {
                    var user_to_add = event.target.parentElement.firstChild.textContent;
                    //SEND ACCEPT FRIEND REQUEST
                });

                friendRequestDeclineButton.addEventListener('click', function(event)
                {
                    var user_to_add = event.target.parentElement.firstChild.textContent;
                    //SEND DECLINE FRIEND REQUEST
                });

                friendRequestBlockedButton.addEventListener('click', function(event)
                {
                    var user_to_add = event.target.parentElement.firstChild.textContent;
                    //SEND BLOCK FRIEND REQUEST
                });
            }
        }
    }
    //--------------------------------------------------------------------------------
    //                           Affichage des requetes d'amis
    //--------------------------------------------------------------------------------
    
    

    

    //--------------------------------------------------------------------------------
    //                           Gestion des messages system
    //--------------------------------------------------------------------------------
    socket.onmessage = function(event)
    {
        var data = event.data;
        data = JSON.parse(data);

        if (data.message.command == 'get_friends_infos' && data.message.user_to_add == currentUser)
        {
            friends = data.message.friends;
            friends_requests = data.message.friend_request;
            console.log('Information sur les amis recues');
            display_friends_requests();
        }
    }
</script>
</html>