<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

{% if user.is_authenticated %}
    <div id="currentUser" style="display: none;">{{ user.username }}</div>  

    <script>
        // Connexion WebSocket avec le serveur
        var socket = new WebSocket('wss://localhost/ws/system/');
        var currentUser = document.getElementById('currentUser').textContent;
        
        function send_get_friends_infos(currentUser)
        {
            var message = {
                'command': 'get_friends_infos',
                'user_to_add': currentUser
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        socket.onopen = function(event)
        {
            console.log('Connexion au system établie');

            send_get_friends_infos(currentUser);
        };

        socket.onclose = function(event)
        {
            console.log('Connexion au system fermée');
        };
    </script>
{% endif %}


<body>
    <h1>Bienvenue sur le projet Transcendance</h1>
    <p>En cours de developpement</p>
    <p>
        {% if user.is_authenticated %}
            Bonjour {{ user.username }}
            <br></br>
            <img src="https://localhost/media/{{ user.avatar }}" alt="Profile picture" width="100" height="100">
        {% else %}
            Bonjour inconnu
        {% endif %}
    </p>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary">Se deconnecter ❌</a>
        <br></br>
        <a href="{% url 'chat-room' %}" class="btn btn-primary">Viens tchatter ici 💬</a>
        <br></br>
        <a href="{% url 'update-account' %}" class="btn btn-primary">Modifier mon compte ♻️</a>
        <br></br>
        <div id="friends_requests"> </div>
        <div id="friends"> </div>

                
    {% else %}
        <a href="{% url 'signin' %}" class="btn btn-primary">S'inscrire 🔥</a>
        <br></br>
        <a href="{% url 'login' %}" class="btn btn-primary">Se connecter ✅</a>
        <br></br>
        <a href="{% url 'redirect-to-provider' %}" class="btn btn-primary">Se connecter avec 4️⃣2️⃣</a>
    {% endif %}
</body>

<script>

    socket.onmessage = function(event)
    {
        var message = event.data;
        var data = JSON.parse(message);
        if (data.original_user === document.getElementById('currentUser').textContent)
        {
            if (data.command === 'get_friends_infos' && data.user_to_add === currentUser || data.command === 'add_friend' && data.user_to_add === currentUser)
            {
                if (data.command === 'add_friend')
                {
                    send_get_friends_infos(currentUser);
                    message = data.message;
                    data = JSON.parse(message);
                }

                var friends = data.friends;
                var friends_requests = data.friends_requests;

                var friendsDiv = document.getElementById('friends');
                var friendsRequestsDiv = document.getElementById('friends_requests');

                if (friends_requests.length > 0)
                {
                    friendsRequestsDiv.innerHTML = '<h2>Demande d\'amis</h2>';
                    for (var i = 0; i < friends_requests.length; i++)
                    {
                        var friendRequest = friends_requests[i];
                        var friendRequestDiv = document.createElement('div');
                        friendRequestDiv.innerHTML = '<p>' + friendRequest.username +
                            ' <button id="acceptFriendRequestButton">Accepter</button>' +
                            ' <button id="rejectFriendRequestButton">Refuser</button></p>';
                        friendsRequestsDiv.appendChild(friendRequestDiv);
                    }
                }

                if (friends.length > 0)
                {
                    friendsDiv.innerHTML = '<h2>Amis</h2>';
                    for (var i = 0; i < friends.length; i++)
                    {
                        var friend = friends[i];
                        var friendDiv = document.createElement('div');
                        friendDiv.innerHTML = '<p>' + friend.username + '</p>';
                        friendsDiv.appendChild(friendDiv);
                    }
                }
            }
        }
    }
</script>
</html>