<div class="m-wrapperHome">
    <button type="button" class="a-btn -orange -twoSVGoneText" 
        id="pong-modal-btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill bottom" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
        </svg>
        <svg class="icon_sword top" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8 3V4H9V5H10V6H11V7H12V8H13V9H14V10H15V11H16V12H17V11H19V13H18V14H17V15H18V16H19V17H20V19H19V20H17V19H16V18H15V17H14V18H13V19H11V17H12V16H11V15H10V14H9V13H8V12H7V11H6V10H5V9H4V8H3V7H2V2H7V3H8M7 5H6V4H4V5H5V6H6V7H7V8H8V9H9V10H10V11H11V12H12V13H14V12H13V11H12V10H11V9H10V8H9V7H8V6H7V5Z" />
        </svg>
        <span class="a-btn__text">PONG</span>
    </button>

    <button type="button" class="a-btn -orange -twoSVGoneText" id="game-pfc">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill bottom" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
        </svg>
        <svg class="icon_sword top" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8 3V4H9V5H10V6H11V7H12V8H13V9H14V10H15V11H16V12H17V11H19V13H18V14H17V15H18V16H19V17H20V19H19V20H17V19H16V18H15V17H14V18H13V19H11V17H12V16H11V15H10V14H9V13H8V12H7V11H6V10H5V9H4V8H3V7H2V2H7V3H8M7 5H6V4H4V5H5V6H6V7H7V8H8V9H9V10H10V11H11V12H12V13H14V12H13V11H12V10H11V9H10V8H9V7H8V6H7V5Z" />
        </svg>
        <span class="a-btn__text">PFC</span>
    </button>

    <!-- pong Modal -->
    <!-- <div class="modal fade" id="pong-modal" tabindex="-1" aria-labelledby="pong-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">

                <div class="modal-header">
                    <h5 class="modal-title">Choisissez le nombre de joueur (1 a 4)</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="modal-ul">
                        <li>
                            <label for="pong-player1">Premier joueur :</label>
                            <input disabled class="modal__input js-getCurrentUser" type="text" id="pong-player1"
                                name="pong-player1" value="my_username"><br>
                        </li>
                        <li>
                            <label for="pong-player2">Deuxieme joueur :</label>
                            <input class="modal__input" type="text" id="pong-player2" name="pong-player2"><br>
                        </li>
                        <li>
                            <label for="pong-player3">Troisieme joueur :</label>
                            <input class="modal__input" type="text" id="pong-player3" name="pong-player3"><br>
                        </li>
                        <li>
                            <label for="pong-player4">Quatrieme joueur :</label>
                            <input class="modal__input" type="text" id="pong-player4" name="pong-player4"><br>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-bs-dismiss="modal" type="button" class="a-btn -heart">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                        </svg>
                        ANNULER</button>
                    <button type="button" class="a-btn -heart" id="validate-pong-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                        </svg>
                        VALIDER</button>
                </div>
            </div>
        </div>
    </div> -->
</div>