<div class="m-wrapperHello" id="log-div">
	<button type="button" class="a-btn -orange -lg" data-bs-toggle="modal" data-bs-target="#create-account-modal"
		id="signup-btn">
		CREER UN COMPTE
	</button>
	<button type="button" class="a-btn -orange -lg" data-bs-toggle="modal" data-bs-target="#connexion-modal"
		id="signin-btn">
		SE CONNECTER
	</button>
	<button type="button" class="a-btn -orange -lg" data-bs-target="#connexion-ft-modal" id="signin-42-btn">
		SE CONNECTER AVEC 42
	</button>
</div>


<!-- Create an account Modal -->
<div class="modal fade" id="create-account-modal" tabindex="-1" aria-labelledby="create-account-modal"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content ">

			<form method="post" id="signup-form">
				<input type="hidden" name="form_type" value="signup">
				<div class="modal-header">
					<h5 class="modal-title">CREER UN COMPTE</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					{{ signup_form }}
				</div>
				<div class="modal-footer">
					<button data-bs-dismiss="modal" type="button" class="a-btn -heart">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
						</svg>
						ANNULER</button>
					<button type="submit" class="a-btn -heart" id="signup-btn">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
						</svg>
						CREER MON COMPTE</button>
				</div>
			</form>
		</div>
	</div>
</div>



<!-- Connexion Modal -->
<div class="modal fade" id="connexion-modal" tabindex="-1" aria-labelledby="connexion-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content " id="signin-modal-content">
			<form method="post" id="signin-form" novalidate>
				<input type="hidden" name="form_type" value="signin">
				<div class="modal-header">
					<h5 class="modal-title">CONNECTEZ-VOUS A PONG+</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					{{ signin_form }}
				</div>
				<div class="modal-footer">
					<button type="button" class="a-btn -heart" data-bs-dismiss="modal" aria-label="Close">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
						</svg>
						ANNULER
					</button>
					<button type="submit" class="a-btn -heart" id="signin-btn">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
						</svg>
						SE CONNECTER
					</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Connexion 42 Modal -->
<div id="connexion-ft-modal" tabindex="-1"></div>
</div>