<body>
    <div id="body-pfc">
        <h1 id="pfc_title">Pierre Feuille ciseaux</h1>
        <p>Score joueur 1 : <span id="score1">0</span></p>
        <p>Score joueur 2 : <span class="language_dependant" id="score2">0</span></p>
        <p>Penalites joueur 1 : <span id="penalties1">0</span> <span>/3</span></p>
        <p>Penalites joueur 2 : <span id="penalties2">0</span> <span>/3</span></p>
        <p>Temps : <span id="time">0</span></p>
        <p>Manche : <span id="round">0</span></p>
    </div>
</body>