<body>
    <div id="body-pfc">
        <h1 id="pfc_title">Pierre Feuille ciseaux</h1>
        <p id="player1_score_main">Score joueur 1 : <span id="player1_score">0</span></p>
        <p id="player2_score_main">Score joueur 2 : <span id="player2_score">0</span></p>
        <p id="player1_penalties_main">Penalites joueur 1 : <span id="player1_penalties">0</span> <span>/3</span></p>
        <p id="player2_penalties_main">Penalites joueur 2 : <span id="player2_penalties">0</span> <span>/3</span></p>
        <p id="time_main">Temps : <span id="time">0</span></p>
        <p id="round_main">Manche : <span id="round">0</span></p>
    </div>
</body>