<body>
	<div class="container-fluid vh-100">
		<div class="row g-3 h-100 py-3">
			<div class="col-md-12 col-lg-8 col-xl-9 h-100 d-flex flex-column order-lg-2 ">

				<nav class="navbar navbar-expand">
					<div class="container-fluid">
						<a class="navbar-brand " href="#">PONG+</a>
					</div>
				</nav>
				<div class="main">
					<div class="container h-100 w-100">
						<div class="wrapper-btn-connexionpage">
							<button type="button" class="btn-orange" data-bs-toggle="modal"
																	 data-bs-target="#create-account-modal">
								CREER UN COMPTE
							</button>
							<button type="button" class="btn-orange" data-bs-toggle="modal"
																	 data-bs-target="#connexion-modal">
								SE CONNECTER
							</button>
							<button type="button" class="btn-orange" data-bs-toggle="modal"
																	 data-bs-target="#connexion-ft-modal">
								SE CONNECTER AVEC 42
							</button>
						</div>
						<!-- Create an account Modal -->
						<div class="modal fade" id="create-account-modal" tabindex="-1"
																		  aria-labelledby="create-account-modal" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content ">
									<div class="modal-header">
										<h5 class="modal-title">CREER UN COMPTE</h5>
										<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
																								aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<input class="modal__input " type="text" placeholder="Adresse email" name="email"
																											 required>
										<input class="modal__input" type="password" placeholder="Mot de passe" name="psw"
																											   required>
										<input class="modal__input" type="password" placeholder="Confirmer le mot de passe"
																					name="confirm-psw" required>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn-heart" data-bs-dismiss="modal" aria-label="Close">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill "
																					viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
											</svg>
											ANNULER
										</button>
										<button type="button" class="btn-heart">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill "
																					viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
											</svg>
											CREER MON COMPTE
										</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Connexion Modal -->
						<div class="modal fade" id="connexion-modal" tabindex="-1" aria-labelledby="connexion-modal"
																				   aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content ">
									<div class="modal-header">
										<h5 class="modal-title">CONNECTEZ-VOUS A PONG+</h5>
										<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
																								aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<input class="modal__input " type="text" placeholder="Adresse email" name="email"
																											 required>
										<input class="modal__input" type="password" placeholder="Mot de passe" name="psw"
																											   required>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn-heart" data-bs-dismiss="modal" aria-label="Close">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill "
																					viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
											</svg>
											ANNULER
										</button>
										<button type="button" class="btn-heart">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill "
																					viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
											</svg>
											SE CONNECTER
										</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Connexion 42 Modal -->
						<div class="modal fade" id="connexion-ft-modal" tabindex="-1" aria-labelledby="connexion-ft-modal"
																					  aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content ">
									<div class="modal-header">
										<h5 class="modal-title">CONNECTEZ-VOUS AVEC 42</h5>
										<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
																								aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<input class="modal__input " type="text" placeholder="Adresse email" name="email"
																											 required>
										<input class="modal__input" type="password" placeholder="Mot de passe" name="psw"
																											   required>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn-heart" data-bs-dismiss="modal" aria-label="Close">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill "
																					viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
											</svg>
											ANNULER
										</button>
										<button type="button" class="btn-heart">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill "
																					viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
											</svg>
											SE CONNECTER
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- end PUT THIS ON CONNEXION PAGE-->
					</div> 
				</div>
			</div>
			<!-- THE chat -->
			<div class="col-md-12 col-lg-4 col-xl-3 h-100 d-flex flex-column order-lg-1 ">
				<nav class="navbar navbar-expand">
					<div class="container-fluid d-flex flex-row position-relative">
					</div>
				</nav>
				<div class="chat ">

					<!-- case 1 : liste des discussions -->
					<div class="chat__list ">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS (just before body closing tag) -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
	</script>
</body>
