<div class="m-profile__edit" id="profile_edit-main">
	<img class="a-profile__img" src={{avatar}} id="profile_edit-avatar"></img>
	<h3 class="a-profile__input" id="profile_edit-username"> {{username}} </h3>
	<button class="a-btn -orange" data-bs-toggle="modal" data-bs-target="#edit-profile-modal" id="profile_edit-btn">Editer mon profil</button>
</div>

<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="edit-profile-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form method="post" id="edit-profile-form">
				<input type="hidden" name="form_type" value="edit">
				<div class="modal-header">
					<h5 class="modal-title">Editer mon profil</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					{% if is_42 == True %}
						{{auth42_update_form}}
					{% else %}
						{{regular_update_form}}
					{% endif %}
				</div>
				<div class="modal-footer">
					<button data-bs-dismiss="modal" type="button" class="a-btn -heart">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
						</svg>
						ANNULER</button>
					<button type="submit" class="a-btn -heart" id="edit-btn">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
						</svg>
						ENREGISTRER</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div>
	<div class="wrapperCollapsibles">
		<div class="js-collapsible">
			<button class="a-btn -collapsible js-btn-collapsible profile_toggle_btn" type="button">PONG<svg class="bi bi-plus"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path
						d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4">
					</path>
				</svg><svg class="bi bi-dash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
				</svg></button>
			<ul class="o-collapsible__content profile_toggle_list">
				<li class="m-collapsible__item js-collapsible__item">Item1</li>
				<li class="m-collapsible__item js-collapsible__item">Item2</li>
				<li class="m-collapsible__item js-collapsible__item">Item3</li>
			</ul>
		</div>

		<div class="js-collapsible">
			<button class="a-btn -collapsible js-btn-collapsible profile_toggle_btn" type="button">PIERRE FEUILLE CISEAUX<svg class="bi bi-plus"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path
						d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4">
					</path>
				</svg><svg class="bi bi-dash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
				</svg></button>
			<ul class="o-collapsible__content profile_toggle_list">
				<li class="m-collapsible__item js-collapsible__item">Item1</li>
				<li class="m-collapsible__item js-collapsible__item">Item2</li>
				<li class="m-collapsible__item js-collapsible__item">Item3</li>
			</ul>
		</div>		
	</div>
</div>
