<div class="m-profile__edit" id="profile_edit-main">
	<img class="a-profile__img" src={{avatar}} id="profile_edit-avatar"></img>
	<h3 class="a-profile__input" id="profile_edit-username"> {{username}} </h3>
	<br></br>
	{% if user.username == username %}
		<button class="a-btn -orange" data-bs-toggle="modal" data-bs-target="#edit-profile-modal" id="profile_edit-btn">Editer mon profil</button>
	{% endif %}
</div>

{% if user.username == username %}
	<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="edit-profile-modal" aria-hide="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form method="post" id="edit-profile-form">
					<input type="hidden" name="form_type" value="edit" readonly>
					<div class="modal-header">
						<h5 class="modal-title">Editer mon profil</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						{% csrf_token %}
						{% if is_42 == True %}
							{{auth42_update_form}}
						{% else %}
							{{regular_update_form}}
						{% endif %}
					</div>
					<div class="modal-footer">
						<button data-bs-dismiss="modal" type="button" class="a-btn -heart">
							<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
							</svg>
							ANNULER</button>
						<button type="submit" class="a-btn -heart" id="edit-btn">
							<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart-fill " viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
							</svg>
							ENREGISTRER</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

<div>
	<div class="wrapperCollapsibles">
		<div class="js-collapsible">
			<button class="a-btn -collapsible js-btn-collapsible profile_toggle_btn" type="button">PONG<svg class="bi bi-plus"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path
						d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4">
					</path>
				</svg><svg class="bi bi-dash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
				</svg></button>	
				<h1 class="o-collapsible__content profile_toggle_pong hide">Stats</h1>
				<ul class="o-collapsible__content profile_toggle_pong hide">
					<li>Nombre de partie gagnée: {{total_pong_win}}</li>
					<li>Nombre de partie perdue: {{total_pong_los}}</li>
					<li>Nombre de point gagné: {{total_pong_win_tie}}</li>
					<li>Nombre de point perdu: {{total_pong_los_tie}}</li>
				</ul>
				<h1 class="o-collapsible__content profile_toggle_pong hide">Historique</h1>
				<ul class="o-collapsible__content profile_toggle_pong hide">
					{% if user_pong_history %}
						{% for history in user_pong_history %}
						<li>
							<h2>
								{% if history.winner == True %}
									Victoire VS {{history.opponent_username}}
								{% else %}
									Défaite VS {{history.opponent_username}}
								{% endif %}
							</h2>
							<p>Score: {{history.current_player_score}} - {{history.opponent_score}}</p>
						</li>
						{% endfor %}
					{% else %}
						<li>
							<h2>Aucun historique</h2>
						</li>
					{% endif %}
				</ul>
				</div>
			</div>
		</div>

		<div class="js-collapsible">
			<button class="a-btn -collapsible js-btn-collapsible profile_toggle_btn" type="button">PIERRE FEUILLE CISEAUX<svg class="bi bi-plus"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path
						d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4">
					</path>
				</svg><svg class="bi bi-dash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
					<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
				</svg></button>
			
			<h1 class="o-collapsible__content profile_toggle_pfc hide">Stats</h1>
				<ul class="o-collapsible__content profile_toggle_pfc hide">
					<li>Nombre de partie gagnée: {{total_spr_win}}</li>
					<li>Nombre de partie perdue: {{total_spr_los}}</li>
					<li>Nombre de point gagné: {{total_spr_win_tie}}</li>
					<li>Nombre de point perdu: {{total_spr_los_tie}}</li>
					<li>Nombre de ciseaux utilisé: {{total_scissors}}</li>
					<li>Nombre de feuille utilisée: {{total_paper}}</li>
					<li>Nombre de pierre utilisée: {{total_rock}}</li>
				</ul>
			<h1 class="o-collapsible__content profile_toggle_pfc hide">Historique</h1>
				<ul class="o-collapsible__content profile_toggle_pfc hide">
					{% if user_pfc_history %}
						{% for history in user_pfc_history %}
						<li>
							<h2>
								{% if history.victory == True %}
									Victoire VS {{history.opponent_username}}
								{% elif history.victory == None and history.current_player_score == 0 and history.opponent_score == 0 and history.current_player_penalties == 0 %}
									Partie Annulée VS {{history.opponent_username}}
								{% elif history.victory == None %}
									Match nul {{history.current_username}} VS {{history.opponent_username}}
								{% else %}
									Défaite VS {{history.opponent_username}}
								{% endif %}
							</h2>
							<p>Score: {{history.current_player_score}} - {{history.opponent_score}}</p>
							<p>Nombre de pénalitées: {{history.current_player_penalties}} - {{history.opponent_penalties}}</p>
							<p>Nombre de round: {{history.round_count}}</p>
							<p>Move joueur: [
								{% for move in history.current_player_moves %}
									{{move}}
									{% if not forloop.last %}
										, 
									{% endif %}
								{% endfor %}
								]
							</p>
							<p>Move adversaire: [
								{% for move in history.opponent_moves %}
									{{move}}
									{% if not forloop.last %}
										, 
									{% endif %}
								{% endfor %}
									]
							</p>
							<p>Date: {{history.timestamp}}</p>
						</li>
						{% endfor %}
					{% else %}
						<li>
							<h1>Aucun historique</h1>
						</li>
					{% endif %}
				</ul>
		</div>		
	</div>
</div>
